@charset "UTF-8";

header {
    background-color: #ffcccc;
}

#wrapper {
    display: flex;
}
#main {
    width: 70%;
    background-color: #ccffcc
}
#menu {
    width: 30%;
    background-color: #ccccff;
}
footer {
    background-color: #ffccff;
}